In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
d = {"Col1":["P","P","R"],"Col2":["X","Y","Z"],"Col3":["A","B","C"]}
df = pd.DataFrame(d)
df

  Col1 Col2 Col3
0    P    X    A
1    P    Y    B
2    R    Z    C

In [8]:
pd.value_counts(df["Col1"])

P    2
R    1
Name: Col1, dtype: int64

In [9]:
df["Col1"].value_counts()

P    2
R    1
Name: Col1, dtype: int64

In [16]:
d = {"Name":["Sam","Pam","Jane"],"Marks":[56,72,45],"Class":[1,2,3]}
df = pd.DataFrame(d,index=["a","b","c"])
df

   Name  Marks  Class
a   Sam     56      1
b   Pam     72      2
c  Jane     45      3

In [11]:
df.columns

Index(['Name', 'Marks', 'Class'], dtype='object')

In [13]:
list(df.index)

['a', 'b', 'c']

In [17]:
df.reindex([c,b,a])

NameError: name 'c' is not defined

In [20]:
d = {"Name":["Sam","Pam","Jane"],"Marks":[56,72,45],"Class":[1,2,3]}
df2 = pd.DataFrame(d)
df2

   Name  Marks  Class
0   Sam     56      1
1   Pam     72      2
2  Jane     45      3

In [21]:
df.reindex([c,b,a])

NameError: name 'c' is not defined